<div class="row">
  <div class="col-md-9">
    <label>Id: {{productComponent?.id === undefined ? '?' : productComponent.id}}</label>
  </div>
  <div class="col-md-2" *ngIf="productComponent?.id !== undefined">
    <label>Situação: {{productComponent?.death === null ? 'Ativo' : 'Desativado'}}</label>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <label>Nome</label>
    <input class="form-control" [(ngModel)]="productComponent.name" required>
  </div>
  <div class="col-md-3">
    <label>Criação</label>
    <input class="form-control" disabled value="{{productComponent.creation | date2}}">
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <label>Descrição</label>
    <textarea class="form-control" [(ngModel)]="productComponent.description" required></textarea>
  </div>
  <div class="col-md-3">
    <label>Desativação</label>
    <input class="form-control" value="{{productComponent.death | date2}}" disabled>
  </div>
</div>