<div class="row">
  <div class="col-md-9">
    <label>Id: {{product?.id === undefined ? '?' : product.id}}</label>
  </div>
  <div class="col-md-2">
    <label>Situação: {{product?.death === undefined ? 'Ativo' : 'Desativado'}}</label>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <label>Nome</label>
    <input class="form-control" [(ngModel)]="product.name" required>
  </div>
  <div class="col-md-2">
    <label>Criação</label>
    <input class="form-control" [(ngModel)]="product.creation" disabled>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <label>Descrição</label>
    <textarea class="form-control" [(ngModel)]="product.description" required></textarea>
  </div>
  <div class="col-md-2">
    <label>Desativação</label>
    <input class="form-control" [(ngModel)]="product.death" disabled>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <button class="btn btn-default btnAcao" (click)="clickActive()" *ngIf="product.death !== null" [disabled]="product.id === undefined">Ativar</button>
    <button class="btn btn-default btnAcao" (click)="clickDesactive()" *ngIf="product.death === null" [disabled]="product.id === undefined">Desativar</button>
  </div>
</div>