<ul class="list-group">
  <li class="list-group-item">
    <a routerLink="/dashboard" class="list-group-item" [class.active]="routePrefix === 'dashboard'">Dashboard</a>
  </li>
  <!--
  <li class="list-group-item">
    <a routerLink="/produtos" class="list-group-item" [class.active]="routePrefix === 'produtos'">Produtos</a>
  </li>
  -->
  <li class="list-group-item">
    <a routerLink="/componentes" class="list-group-item" [class.active]="routePrefix === 'componentes'">Componentes</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/upload" class="list-group-item" [class.active]="routePrefix === 'upload'">Upload</a>
  </li>
  <!--
  <li class="list-group-item">
    <a routerLink="/builds/gerar" class="list-group-item disabled" [class.active]="routePrefix === 'builds/gerar'">
      <span class="badge">1</span>
      Gerar Build
    </a>
  </li>
  -->
  <li class="list-group-item">
    <a routerLink="/builds/validar" class="list-group-item disabled">
      Validar Build
    </a>
  </li>
  <li class="list-group-item">
    <a routerLink="/download" class="list-group-item" [class.active]="routePrefix === 'download'">Downloads</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/user" class="list-group-item" [class.active]="routePrefix === 'user'">Usuários</a>
  </li>
  <li class="list-group-item">
    <a href="http://localhost:8080/apidevtools/api/help" target="_blank" class="list-group-item">Ajuda</a>
  </li>
</ul>